:root {
    /* General font Mulish from Google */
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  position: relative;
  z-index: 1;
}

.card:hover {
  transform: scale(1.10);
  background-color: whitesmoke;
  box-shadow: 0 4px 6px rgba(253, 181, 181, 0.1);
  z-index: 10;
}

.car-is-sold {
    display: block;
}

#card-container.hide-sold .car-is-sold {
    display: none;
}

main {
    /* Subtle checkered background pattern */
    background-image: 
        linear-gradient(to right, 
        rgba(255, 255, 255, 1) 0%,   
        rgba(255, 255, 255, 0.95) 50%,
        rgba(255, 255, 255, 1) 100%  
        ),
        url('../img/20251110_201052.png');
    background-repeat: no-repeat, repeat;
    background-size: 100%, 20px;
}

.to-grey-scale {
    filter: grayscale(100%);
}

#carModalCol2 {
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* overflow: hidden; */
}

#welcome-titles {
    > div {
        > h1 {
            font-size: 3rem;
            font-weight: 500;

            /* Make title a little wider */
            display: inline-block;
            transform: scaleX(1.1);
            transform-origin: center;
            letter-spacing: 1px;
        }

        /* Titles sub title */
        > p:first-of-type {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    /* Position the title block and background */
    background-color: rgba(1,1, 1, 0.2);
    padding: 15px;
    top: 20%;
}

/* Fade in hero titles background */
.fade-in-bk-titles {
    animation: fade-in-bk-titles-animation 0.5s ease-out forwards;
    opacity: 0;
}
@keyframes fade-in-bk-titles-animation {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Fade in hero titles text */
.fade-in-titles {
    animation: fade-in-titles-animation 0.5s ease-out forwards;
    animation-delay: 0.5s;
    opacity: 0;

    /* Titles descriptive text */
    > p:last-of-type {
        color: rgb(232, 232, 232);
        font-size: 1.1rem;
        font-weight: 300;
    }
}
@keyframes fade-in-titles-animation {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY( 0px); }
}

.trusted-sml-text {
    color: rgb(50, 50, 50);
    font-size: 1.1rem;
    font-weight: 400;
}